[submodule "vendor/googletest"]
	path = vendor/googletest
	url = https://github.com/google/googletest
[submodule "vendor/libwebsockets"]
	path = vendor/libwebsockets
	url = https://github.com/warmcat/libwebsockets.git
